.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #ffffff;
}
body {
  font-family: Source Serif 4;
}
.display-1 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 5.8rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.25rem;
}
.display-2 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 2.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.64rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.06rem;
    font-size: calc( 2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 4.06rem;
    font-size: calc( 2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #a0e1e1 !important;
}
.bg-info {
  background-color: #7fe4f8 !important;
}
.bg-warning {
  background-color: #ffdd78 !important;
}
.bg-danger {
  background-color: #eb8c95 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
  color: #264d0c !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #264d0c !important;
  background-color: #bcef9c !important;
  border-color: #bcef9c !important;
}
.btn-info,
.btn-info:active {
  background-color: #7fe4f8 !important;
  border-color: #7fe4f8 !important;
  color: #066072 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #afeefb !important;
  border-color: #afeefb !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #066072 !important;
  background-color: #afeefb !important;
  border-color: #afeefb !important;
}
.btn-success,
.btn-success:active {
  background-color: #a0e1e1 !important;
  border-color: #a0e1e1 !important;
  color: #1f6363 !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #c7eded !important;
  border-color: #c7eded !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f6363 !important;
  background-color: #c7eded !important;
  border-color: #c7eded !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffdd78 !important;
  border-color: #ffdd78 !important;
  color: #785a00 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffeaab !important;
  border-color: #ffeaab !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #785a00 !important;
  background-color: #ffeaab !important;
  border-color: #ffeaab !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #eb8c95 !important;
  border-color: #eb8c95 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #f3b7bd !important;
  border-color: #f3b7bd !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #f3b7bd !important;
  border-color: #f3b7bd !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #9fe870;
  color: #9fe870;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #6ddc25 !important;
  background-color: transparent !important;
  border-color: #6ddc25 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #264d0c !important;
  background-color: #9fe870 !important;
  border-color: #9fe870 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #7fe4f8;
  color: #7fe4f8;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #2dd3f4 !important;
  background-color: transparent !important;
  border-color: #2dd3f4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #066072 !important;
  background-color: #7fe4f8 !important;
  border-color: #7fe4f8 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #a0e1e1;
  color: #a0e1e1;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #5ecccc !important;
  background-color: transparent !important;
  border-color: #5ecccc !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f6363 !important;
  background-color: #a0e1e1 !important;
  border-color: #a0e1e1 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffdd78;
  color: #ffdd78;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffc721 !important;
  background-color: transparent !important;
  border-color: #ffc721 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #785a00 !important;
  background-color: #ffdd78 !important;
  border-color: #ffdd78 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #eb8c95;
  color: #eb8c95;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #de4251 !important;
  background-color: transparent !important;
  border-color: #de4251 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #eb8c95 !important;
  border-color: #eb8c95 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #9fe870 !important;
}
.text-success {
  color: #a0e1e1 !important;
}
.text-info {
  color: #7fe4f8 !important;
}
.text-warning {
  color: #ffdd78 !important;
}
.text-danger {
  color: #eb8c95 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #66d022 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #52c9c9 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1ed0f3 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffc312 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #dc3545 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffffff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7fe4f8;
}
.alert-warning {
  background-color: #ffdd78;
}
.alert-danger {
  background-color: #eb8c95;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffffff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.5rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #9fe870 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uO1rXS1uZa {
  display: flex;
  background-image: url("../../../assets/images/347369695253877-1398x873.jpg");
}
.cid-uO1rXS1uZa .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-uO1rXS1uZa {
    align-items: flex-end;
  }
  .cid-uO1rXS1uZa .row {
    justify-content: center;
  }
  .cid-uO1rXS1uZa .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uO1rXS1uZa .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uO1rXS1uZa {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-uO1rXS1uZa .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uO1rXS1uZa .content-wrap {
    width: 100%;
  }
}
.cid-uO1rXS1uZa .mbr-section-title,
.cid-uO1rXS1uZa .mbr-section-subtitle {
  text-align: center;
}
.cid-uO1rXS1uZa .mbr-text,
.cid-uO1rXS1uZa .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-uO1rXS1uZa .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-uOo85AjuJK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uOo85AjuJK img,
.cid-uOo85AjuJK .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-uOo85AjuJK .item:focus,
.cid-uOo85AjuJK span:focus {
  outline: none;
}
.cid-uOo85AjuJK .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uOo85AjuJK .item {
    margin-bottom: 1rem;
  }
}
.cid-uOo85AjuJK .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uOo85AjuJK .item-content {
    padding: 0 1.5rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uOo85AjuJK .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-uOo85AjuJK .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uOo85AjuJK .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uOo85AjuJK .mbr-section-title {
  color: #000000;
}
.cid-uOo85AjuJK .item-title {
  text-align: left;
}
.cid-uOo85AjuJK .item-subtitle {
  text-align: left;
}
.cid-uOo85AjuJK .mbr-text,
.cid-uOo85AjuJK .item .mbr-section-btn {
  text-align: left;
}
.cid-uOo85AjuJK .content-head {
  max-width: 800px;
}
.cid-uOp0qKrjOy {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uOp0qKrjOy img,
.cid-uOp0qKrjOy .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-uOp0qKrjOy .item:focus,
.cid-uOp0qKrjOy span:focus {
  outline: none;
}
.cid-uOp0qKrjOy .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uOp0qKrjOy .item {
    margin-bottom: 1rem;
  }
}
.cid-uOp0qKrjOy .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uOp0qKrjOy .item-content {
    padding: 0 1.5rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uOp0qKrjOy .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-uOp0qKrjOy .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uOp0qKrjOy .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uOp0qKrjOy .mbr-section-title {
  color: #000000;
}
.cid-uOp0qKrjOy .item-title {
  text-align: left;
}
.cid-uOp0qKrjOy .item-subtitle {
  text-align: left;
}
.cid-uOp0qKrjOy .mbr-text,
.cid-uOp0qKrjOy .item .mbr-section-btn {
  text-align: left;
}
.cid-uOp0qKrjOy .content-head {
  max-width: 800px;
}
.cid-uOo8qQFqig {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uOo8qQFqig img,
.cid-uOo8qQFqig .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-uOo8qQFqig .item:focus,
.cid-uOo8qQFqig span:focus {
  outline: none;
}
.cid-uOo8qQFqig .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uOo8qQFqig .item {
    margin-bottom: 1rem;
  }
}
.cid-uOo8qQFqig .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uOo8qQFqig .item-content {
    padding: 0 1.5rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uOo8qQFqig .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-uOo8qQFqig .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uOo8qQFqig .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uOo8qQFqig .mbr-section-title {
  color: #000000;
}
.cid-uOo8qQFqig .item-title {
  text-align: left;
}
.cid-uOo8qQFqig .item-subtitle {
  text-align: left;
}
.cid-uOo8qQFqig .mbr-text,
.cid-uOo8qQFqig .item .mbr-section-btn {
  text-align: left;
}
.cid-uOo8qQFqig .content-head {
  max-width: 800px;
}
.cid-uO1rXS38dz {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/347369695253877-1398x873.jpg");
}
.cid-uO1rXS38dz .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-uO1rXS38dz form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-uO1rXS38dz form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-uO1rXS38dz form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uO1rXS38dz .content-head {
  max-width: 800px;
}
.cid-uO1rXS38dz .mbr-section-title {
  color: #000000;
}
.cid-uO1rXS3o8O {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
.cid-uOoaZjNjYq {
  display: flex;
  background-image: url("../../../assets/images/347369695253877-1398x873.jpg");
}
.cid-uOoaZjNjYq .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-uOoaZjNjYq {
    align-items: flex-end;
  }
  .cid-uOoaZjNjYq .row {
    justify-content: center;
  }
  .cid-uOoaZjNjYq .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uOoaZjNjYq .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uOoaZjNjYq {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-uOoaZjNjYq .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uOoaZjNjYq .content-wrap {
    width: 100%;
  }
}
.cid-uOoaZjNjYq .mbr-section-title,
.cid-uOoaZjNjYq .mbr-section-subtitle {
  text-align: center;
}
.cid-uOoaZjNjYq .mbr-text,
.cid-uOoaZjNjYq .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-uOoaZjNjYq .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-uOoaZk0VZS {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/347369695253877-1398x873.jpg");
}
.cid-uOoaZk0VZS .mbr-overlay {
  background: #ffffff;
  opacity: 0.5;
}
.cid-uOoaZk0VZS .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uOoaZk0VZS .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-uOoaZk0VZS .item-head {
  background: #ffffff;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uOoaZk0VZS .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uOoaZk0VZS .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-uOoaZk0VZS .item-content {
  padding: 2.25rem 2.25rem 0;
  background: #ffffff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uOoaZk0VZS .item-content {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uOoaZk0VZS .item-content {
    padding: 0rem 1.5rem;
  }
}
.cid-uOoaZk0VZS .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 767px) {
  .cid-uOoaZk0VZS .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uOoaZk0VZS .item-wrapper .item-footer {
    padding: 0 1.5rem 2rem;
  }
}
@media (min-width: 1201px) {
  .cid-uOoaZk0VZS .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
.cid-uOoaZk0VZS .btn {
  width: -webkit-fill-available;
}
.cid-uOoaZk0VZS .item:focus,
.cid-uOoaZk0VZS span:focus {
  outline: none;
}
.cid-uOoaZk0VZS .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .cid-uOoaZk0VZS .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uOoaZk0VZS .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-uOoaZk0VZS .mbr-section-title {
  color: #000000;
}
.cid-uOoaZk0VZS .mbr-section-subtitle {
  color: #ffffff;
}
.cid-uOoaZk0VZS .mbr-text,
.cid-uOoaZk0VZS .mbr-section-btn {
  text-align: left;
}
.cid-uOoaZk0VZS .item-title {
  text-align: center;
  color: #000000;
}
.cid-uOoaZk0VZS .item-subtitle {
  text-align: left;
  color: #000000;
}
.cid-uOoaZk0VZS .content-head {
  max-width: 800px;
}
.cid-uOoaZkfhsj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uOoaZkfhsj img,
.cid-uOoaZkfhsj .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-uOoaZkfhsj .item:focus,
.cid-uOoaZkfhsj span:focus {
  outline: none;
}
.cid-uOoaZkfhsj .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uOoaZkfhsj .item {
    margin-bottom: 1rem;
  }
}
.cid-uOoaZkfhsj .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uOoaZkfhsj .item-content {
    padding: 0 1.5rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uOoaZkfhsj .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-uOoaZkfhsj .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uOoaZkfhsj .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uOoaZkfhsj .mbr-section-title {
  color: #000000;
}
.cid-uOoaZkfhsj .item-title {
  text-align: left;
}
.cid-uOoaZkfhsj .item-subtitle {
  text-align: left;
}
.cid-uOoaZkfhsj .mbr-text,
.cid-uOoaZkfhsj .item .mbr-section-btn {
  text-align: left;
}
.cid-uOoaZkfhsj .content-head {
  max-width: 800px;
}
.cid-uOoaZktFEj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-uOoaZktFEj img,
.cid-uOoaZktFEj .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-uOoaZktFEj .item:focus,
.cid-uOoaZktFEj span:focus {
  outline: none;
}
.cid-uOoaZktFEj .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uOoaZktFEj .item {
    margin-bottom: 1rem;
  }
}
.cid-uOoaZktFEj .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uOoaZktFEj .item-content {
    padding: 0 1.5rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-uOoaZktFEj .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-uOoaZktFEj .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uOoaZktFEj .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-uOoaZktFEj .mbr-section-title {
  color: #000000;
}
.cid-uOoaZktFEj .item-title {
  text-align: left;
}
.cid-uOoaZktFEj .item-subtitle {
  text-align: left;
}
.cid-uOoaZktFEj .mbr-text,
.cid-uOoaZktFEj .item .mbr-section-btn {
  text-align: left;
}
.cid-uOoaZktFEj .content-head {
  max-width: 800px;
}
.cid-uOoaZkJDvS {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/347369695253877-1398x873.jpg");
}
.cid-uOoaZkJDvS .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-uOoaZkJDvS form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-uOoaZkJDvS form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-uOoaZkJDvS form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uOoaZkJDvS .content-head {
  max-width: 800px;
}
.cid-uOoaZkJDvS .mbr-section-title {
  color: #000000;
}
.cid-uOoaZkTmKa {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
